.centreText {
    text-align: center;
  }

.centreRadioButtons {
    margin: auto;
    width: 5%;
    padding: 10px;
}

.centreParagraph {
  margin: auto;
  width: 60%;
  border: 3px blue;
  padding: 10px;

}